<div class="main-panel bg-dark">
    <div class="content bg-dark">
        <div class="page-inner">
            <div class="mt-2 mb-4">
                <h1 class="title1 text-light">Crypto Exchange</h1>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-75" src="https://img.icons8.com/office/16/000000/us-dollar--v2.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b><%= user.currency %><%= user.balance.toFixed(2).toLocaleString() %></b></h5>
                                <small class="text-muted">Account Balance</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://img.icons8.com/color/48/000000/bitcoin--v1.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 BTC</b></h5>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://img.icons8.com/fluency/48/000000/ethereum.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 ETH</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://img.icons8.com/fluency/48/000000/litecoin.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 LTC</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://img.icons8.com/cotton/64/000000/chainlink.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 LINK</b></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://s2.coinmarketcap.com/static/img/coins/64x64/1839.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 BNB</b></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://s2.coinmarketcap.com/static/img/coins/64x64/2010.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 ADA</b></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-25"
                                    src="https://dynamic-assets.coinbase.com/6ad513d3c9108b163cf0a4c9fd3441cadcb9cf656ea7b9fb333eb7e4a94cd503528e0a94188285d31aedfc392f0793fd4161f7ad4e04d5f6b82e4d70a314d295/asset_icons/80f3d2256652f5ccd680fc48702d130dd01f1bd7c9737fac560a02949efac3b9.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 AAVE</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://img.icons8.com/color/48/000000/tether--v2.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 USDT</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-75" src="https://img.icons8.com/material-sharp/24/000000/bitcoin.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 BCH</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://img.icons8.com/fluency/48/000000/ripple.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 XRP</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="p-3 card bg-dark shadow">
                        <div class="d-flex align-items-center">
                            <span class="mr-3 bg-transparent stamp stamp-md">
                                <img class="w-50" src="https://img.icons8.com/ios/50/000000/stellar.png" />
                            </span>
                            <div>
                                <h5 class="mb-1 text-light"><b>0 XLM</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tradingview-widget-container">
                        <div id="tradingview_f933e"></div>
                        <div class="tradingview-widget-copyright">
                            <a href="#" rel="noopener" target="_blank"><span class="blue-text"></span> <span
                                    class="blue-text">Personal trading chart</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <form method="POST" action="javascript:void(0)" id="exchnageform">
                        <input type="hidden" name="_token" value="R3k0AghwG2RZsNQdfyP5rWOuPyn5kcm8io6OSrX3">
                        <div class="form-group">
                            <h5 class="text-light">Source Account</h5>
                            <select class="form-control text-light bg-dark" name="source" id="sourceasset">
                                <option value="btc">BTC</option>
                                <option value="link">LINK</option>
                                <option value="bnb">BNB</option>
                                <option value="ada">ADA</option>
                                <option value="aave">AAVE</option>
                                <option value="xlm">XLM</option>
                                <option value="xrp">XRP</option>
                                <option value="ltc">LTC</option>
                                <option value="bch">BCH</option>
                                <option value="eth">ETH</option>
                                <option value="usdt">USDT</option>
                                <option value="usd">USD</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <h5 class="text-light">Destination Account</h5>
                            <select name="destination" class="form-control text-light bg-dark" id="destinationasset">
                                <option value="usd">USD</option>
                                <option value="btc">BTC</option>
                                <option value="link">LINK</option>
                                <option value="bnb">BNB</option>
                                <option value="ada">ADA</option>
                                <option value="aave">AAVE</option>
                                <option value="xlm">XLM</option>
                                <option value="xrp">XRP</option>
                                <option value="ltc">LTC</option>
                                <option value="bch">BCH</option>
                                <option value="eth">ETH</option>
                                <option value="usdt">USDT</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <h5 class="text-light">Amount</h5>
                            <input type="text" name="amount" class="form-control text-light bg-dark"
                                placeholder="Enter amount of btc" id="amount">
                        </div>
                        <div class="form-group">
                            <h5 class="text-light">You will get</h5>
                            <input type="text" class="form-control text-light bg-dark" placeholder="Quantity of usd"
                                id="quantity">
                        </div>
                        <input type="hidden" id="realquantity" name="quantity">
                        <div class="form-group">
                            <span class="mb-1 ml-2 caption">
                                <span class="text-light"><b>Fees = 2%</b></span>
                            </span>
                        </div>

                        <div class="cta inline-group">
                            <button class="btn btn-success btn-block btn-sm" disbaled>
                                Exchange
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        function Market(market) {
            new TradingView.widget({
                "width": "100%",
                "height": "400",
                "symbol": market,
                "interval": "1",
                "timezone": "Etc/UTC",
                "theme": 'dark',
                "style": "9",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "hide_side_toolbar": false,
                "allow_symbol_change": true,
                "calendar": false,
                "container_id": "tradingview_f933e"
            });
        }


    </script>

    <script>
        //load chart
        Market("BINANCE:BTCUSD");

        let destinationasset = document.getElementById('destinationasset');
        let sourceasset = document.getElementById('sourceasset');
        let amount = document.getElementById('amount');
        let quatity = document.getElementById('quantity');
        // console.log(destinationasset);

        destinationasset.addEventListener('change', validate);
        sourceasset.addEventListener('change', validate);
        if (destinationasset.value == sourceasset.value) {
            $.notify({
                // options
                icon: 'flaticon-alarm-1',
                title: 'Success',
                message: 'Source and Destination account cannot be thesame',
            }, {
                type: 'danger',
            });

            destinationasset.value = '';
            amount.placeholder = '';
            quatity.placeholder = '';
            amount.value = '';
            quatity.value = '';
        } else {
            amount.placeholder = `Enter amount of ${sourceasset.value}`;
            quatity.placeholder = `Quantity of ${destinationasset.value}`;

        }
        function validate() {
            Market("BINANCE:" + sourceasset.value.toUpperCase() + "USD");
            amount.value = '';
            quatity.value = '';
            if (destinationasset.value == sourceasset.value) {
                $.notify({
                    // options
                    icon: 'flaticon-alarm-1',
                    title: 'Success',
                    message: 'Source and Destination account cannot be thesame',
                }, {
                    type: 'danger',
                });

                destinationasset.value = '';
                amount.placeholder = '';
                quatity.placeholder = '';
                amount.value = '';
                quatity.value = '';
            } else {
                amount.placeholder = `Enter amount of ${sourceasset.value}`;
                quatity.placeholder = `Quantity of ${destinationasset.value}`;

            }
        }

        amount.addEventListener('keyup', getQuantity);

        function getQuantity() {
            let uurl = "https://invest.muskspace.pro/dashboard/asset-price" + '/' + sourceasset.value + '/' + destinationasset.value + '/' + amount.value;
            $.ajax({
                url: uurl,
                type: 'GET',

                success: function (response) {
                    if (response.status === 200) {
                        //console.log(response.data);
                        quatity.value = response.data + ' ' + destinationasset.value;
                        document.getElementById('realquantity').value = response.data;
                    }
                },
                error: function (error) {
                    console.log(error);
                },

            });
        }

        $('#exchnageform').on('submit', function (event) {
            event.preventDefault();
            if (amount.value == '') {
                $.notify({
                    // options
                    icon: 'flaticon-alarm-1',
                    title: 'Success',
                    message: 'Please Enter an Amount to Exchange',
                }, {
                    type: 'danger',
                });
            } else {
                $.ajax({
                    url: "https://invest.muskspace.pro/dashboard/exchange",
                    type: 'POST',
                    data: $('#exchnageform').serialize(),
                    success: function (response) {
                        if (response.status === 200) {
                            $.notify({
                                icon: 'flaticon-alarm-1',
                                title: 'Success',
                                message: response.success,
                            }, {
                                type: 'success',
                            });

                            setTimeout(function () { window.location.reload(true); }, 3000);

                        } else {
                            $.notify({
                                icon: 'flaticon-alarm-1',
                                title: 'Error',
                                message: response.message,
                            }, {
                                type: 'danger',
                            });
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    },

                });
            }

        });

    </script>
    <footer class="footer bg-dark text-light">
        <div class="container-fluid">
            <div class="text-center row copyright text-align-center">
                <p>All Rights Reserved &copy; Musk Space 2025</p>
            </div>
        </div>
    </footer>
</div>
</div>
</div>