<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center col-lg-12">
                <div class="page-next-level">
                    <h4 class="title">Hello!, How can we help you? </h4>

                    <div class="pt-2 mt-4 subcribe-form">

                    </div>

                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="mb-0 bg-white rounded shadow breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Musk Space</a>
                                </li>

                                <li class="breadcrumb-item active" aria-current="page">Faq</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Start Section -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="pb-2 mb-4 text-center section-title">
                    <h4 class="mb-4">Why Choose Us?</h4>
                    <p class="mx-auto para-desc text-muted">Our service gives you better result and savings, as per your
                        requirement and you can manage your investments from anywhere either from home or work place, at
                        any time.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row justify-content-center">
            <div class="pt-2 mt-4 col-lg-4 col-md-6 col-12">
                <div class="text-center bg-white border-0 rounded card explore-feature">
                    <div class="card-body">
                        <div class="mb-2 shadow-lg icon rounded-circle d-inline-block h2">
                            <i class="uil uil-question-circle"></i>
                        </div>
                        <div class="mt-3 content">
                            <a href="/faq" class="title h5 text-dark">FAQs</a>
                            <p class="mt-3 mb-0 text-muted">These are questions asked by most of our investors around
                                the world.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="pt-2 mt-4 col-lg-4 col-md-6 col-12">
                <div class="text-center bg-white border-0 rounded card explore-feature">
                    <div class="card-body">
                        <div class="mb-2 shadow-lg icon rounded-circle d-inline-block h2">
                            <i class="uil uil-file-bookmark-alt"></i>
                        </div>
                        <div class="mt-3 content">
                            <a href="/login" class="title h5 text-dark">Guides / Support</a>
                            <p class="mt-3 mb-0 text-muted">Due to its widespread use as filler text for layouts,
                                non-readability is of great importance.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="pt-2 mt-4 col-lg-4 col-md-6 col-12">
                <div class="text-center bg-white border-0 rounded card explore-feature">
                    <div class="card-body">
                        <div class="mb-2 shadow-lg icon rounded-circle d-inline-block h2">
                            <i class="uil uil-cog"></i>
                        </div>
                        <div class="mt-3 content">
                            <a href="/contact" class="title h5 text-dark">Support
                                Request</a>
                            <p class="mt-3 mb-0 text-muted">We are always available to guide and support throughout our
                                website and your trading journey</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="pb-2 mb-4 text-center section-title">
                    <h4 class="mb-4">Get Started</h4>
                    <p class="mx-auto para-desc text-muted">Our trading systems are setup with the best hands to take
                        trade calls in investments, and we combine this with analytics from our trading robots.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row justify-content-center">
            <div class="pt-2 mt-4 col-lg-9">
                <div class="faq-content">
                    <div class="accordion" id="accordionExample">
                        <div class="mb-2 border-0 rounded card">
                            <a data-toggle="collapse" href="#collapse4" class="faq position-relative"
                                aria-expanded="true" aria-controls="collapse4">
                                <div class="p-3 border-0 shadow card-header bg-light" id="heading4">
                                    <h6 class="mb-0 title">How long does it take to receive withdrawal funds?</h6>
                                </div>
                            </a>
                            <div id="collapse4" class="collapse show" aria-labelledby="heading4"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="mb-0 text-muted faq-ans"> Once you place a withdrawal request, your funds
                                        are sent within four (4) hours of your request. You can withdraw your funds
                                        anytime and any day. we operate 24/7 hence, we carry out transactions everyday.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 border-0 rounded card">
                            <a data-toggle="collapse" href="#collapse3" class="faq position-relative"
                                aria-expanded="true" aria-controls="collapse3">
                                <div class="p-3 border-0 shadow card-header bg-light" id="heading3">
                                    <h6 class="mb-0 title">How many account can I open?</h6>
                                </div>
                            </a>
                            <div id="collapse3" class="collapse show" aria-labelledby="heading3"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="mb-0 text-muted faq-ans"> All our investors are allowed to open just one
                                        (1) account, to access your account, use browser software that support security
                                        technology call Secure Socket Layer (SSL). Firefox, Chrome and other compatible
                                        browsers would s the Job. It is also advisable to use our website on desktop
                                        mode for the best user experience. </p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 border-0 rounded card">
                            <a data-toggle="collapse" href="#collapse2" class="faq position-relative"
                                aria-expanded="true" aria-controls="collapse2">
                                <div class="p-3 border-0 shadow card-header bg-light" id="heading2">
                                    <h6 class="mb-0 title">What are the available deposit and payment method?</h6>
                                </div>
                            </a>
                            <div id="collapse2" class="collapse show" aria-labelledby="heading2"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="mb-0 text-muted faq-ans"> Due to the speed of processing transactions and
                                        limits by many countries, we have chosen Bitcoin (BTC) as our primary mode of
                                        transaction. It is easy, fast and reliable. To make a deposit login into your
                                        account and Click &quot;Deposit&quot;. Choose Bitcoin (BTC) and input the
                                        desired amount ($50 minimum). Preview your payment and proceed to the payment
                                        page and complete the payment by sending the exact amount to the provided wallet
                                        address. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="p-4 rounded shadow media align-items-center features feature-clean">
                    <div class="text-center icons text-primary">
                        <i class="mb-0 rounded uil uil-envelope-check d-block h3"></i>
                    </div>
                    <div class="ml-4 content">
                        <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">Get in Touch !</a></h5>
                        <p class="mb-0 text-muted">Contact us Via Live Chat anywhere you are on our website.</p>
                        <div class="mt-2">
                            <a href="/contact" class="btn btn-sm btn-soft-primary">Submit a
                                Request</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->


            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- End Section -->